@font-face {
    font-family: 'Alimama DaoLiTi';
    src: url('../AlimamaDaoLiTi.woff2') format('woff2'),
        url('../AlimamaDaoLiTi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FZGuoMeiJinDaoTiS';
    src: url('../fonts/FZGUOMJDTS--GB1-0.woff2') format('woff2'),
        url('../fonts/FZGUOMJDTS--GB1-0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FZLiQiBeiLiShuS';
    src: url('../fonts/FZLIQBLSS--GB1-0.woff2') format('woff2'),
        url('../fonts/FZLIQBLSS--GB1-0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
